In [1]:
import numpy as np
import pandas as pd

In [2]:
filename = 'data/주민등록인구집계현황.csv'
df = pd.read_csv(filename, encoding='euc-kr',thousands=',')
df.head()

,연도,월,행정구역구분명,행정구역명,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,...,10~19세 (여),20~29세 (여),30~39세 (여),40~49세 (여),50~59세 (여),60~69세 (여),70~79세 (여),80~89세 (여),90~99세 (여),100세 이상 (여)
0,2022,12,도,경기도,13589432,1040954,1327726,1737291,1882300,2284603,...,647283,821150,904073,1121889,1133428,878494,437251,252711,44184,1369
1,2022,12,시군,경기도 가평군,62197,2930,4463,5929,5397,7589,...,2186,2503,2433,3525,5090,6439,3653,2408,411,13
2,2022,12,읍면동,경기도 가평군 가평읍,19555,1020,1673,2094,1795,2630,...,778,937,848,1244,1583,1805,1054,739,126,6
3,2022,12,읍면동,경기도 가평군 북면,3815,108,174,230,223,357,...,93,87,99,154,290,511,294,216,39,1
4,2022,12,읍면동,경기도 가평군 상면,5669,140,259,482,389,533,...,112,151,166,240,515,737,389,244,39,0

In [3]:
df['인구소멸 위기지역'] = (df.iloc[:,31:33].sum(axis=1)/ df.iloc[:,11:16].sum(axis=1)).round(2)

In [4]:
df.head()

,연도,월,행정구역구분명,행정구역명,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,...,20~29세 (여),30~39세 (여),40~49세 (여),50~59세 (여),60~69세 (여),70~79세 (여),80~89세 (여),90~99세 (여),100세 이상 (여),인구소멸 위기지역
0,2022,12,도,경기도,13589432,1040954,1327726,1737291,1882300,2284603,...,821150,904073,1121889,1133428,878494,437251,252711,44184,1369,0.57
1,2022,12,시군,경기도 가평군,62197,2930,4463,5929,5397,7589,...,2503,2433,3525,5090,6439,3653,2408,411,13,0.20
2,2022,12,읍면동,경기도 가평군 가평읍,19555,1020,1673,2094,1795,2630,...,937,848,1244,1583,1805,1054,739,126,6,0.26
3,2022,12,읍면동,경기도 가평군 북면,3815,108,174,230,223,357,...,87,99,154,290,511,294,216,39,1,0.09
4,2022,12,읍면동,경기도 가평군 상면,5669,140,259,482,389,533,...,151,166,240,515,737,389,244,39,0,0.11

In [17]:
df1 = df[df.행정구역명.str.contains('수원시|고양시|용인시')]
df1.head()

,연도,월,행정구역구분명,행정구역명,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,...,20~29세 (여),30~39세 (여),40~49세 (여),50~59세 (여),60~69세 (여),70~79세 (여),80~89세 (여),90~99세 (여),100세 이상 (여),인구소멸 위기지역
8,2022,12,시군,경기도 고양시,1075202,73997,101074,140606,142572,172996,...,69028,71491,88876,101197,70061,35492,24019,4054,108,0.57
9,2022,12,구,경기도 고양시 덕양구,487874,36231,41419,60469,70476,78293,...,29600,35039,38962,42695,32981,17538,11022,1750,44,0.56
10,2022,12,읍면동,경기도 고양시 덕양구 고양동,29209,1732,2988,3379,2839,4751,...,1536,1335,2378,2484,2228,1368,799,98,3,0.35
11,2022,12,읍면동,경기도 고양시 덕양구 관산동,35979,1730,2663,3962,3714,5258,...,1814,1687,2471,3391,3316,1796,1005,171,9,0.30
12,2022,12,읍면동,경기도 고양시 덕양구 능곡동,15746,868,1150,2026,1948,2205,...,929,860,1113,1560,1198,623,361,72,1,0.40

In [25]:
df1.pivot_table('인구소멸 위기지역','행정구역명',aggfunc='max').sort_values(by='인구소멸 위기지역',ascending=False).head(10)

                   인구소멸 위기지역
행정구역명
경기도 용인시 기흥구 서농동         1.17
경기도 수원시 장안구 정자1동        1.12
경기도 용인시 처인구 역북동         1.06
경기도 고양시 덕양구 효자동         1.05
경기도 고양시 덕양구 창릉동         0.98
경기도 용인시 수지구 풍덕천2동       0.98
경기도 용인시 기흥구 구갈동         0.97
경기도 고양시 일산동구 장항2동       0.94
경기도 고양시 덕양구 삼송1동        0.92
경기도 용인시 수지구 상현3동        0.91

In [26]:
df2 = df[df.행정구역명.str.contains('성남시|안산시|안양시')]
df2.head()

,연도,월,행정구역구분명,행정구역명,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,...,20~29세 (여),30~39세 (여),40~49세 (여),50~59세 (여),60~69세 (여),70~79세 (여),80~89세 (여),90~99세 (여),100세 이상 (여),인구소멸 위기지역
176,2022,12,시군,경기도 성남시,920362,62365,84645,121313,132956,149935,...,59031,64894,76054,77131,62899,32357,17122,3186,97,0.58
177,2022,12,구,경기도 성남시 분당구,482026,36657,52980,61529,68392,84075,...,30534,35145,44829,40668,28453,14481,8514,1865,56,0.66
178,2022,12,읍면동,경기도 성남시 분당구 구미1동,16832,1147,1475,2431,2654,2699,...,1212,1326,1416,1462,1024,546,305,68,4,0.71
179,2022,12,읍면동,경기도 성남시 분당구 구미동,30178,1974,2483,3967,4421,4587,...,2005,2245,2482,2648,2054,1204,805,185,8,0.55
180,2022,12,읍면동,경기도 성남시 분당구 금곡동,27438,1737,2173,3496,4320,4151,...,1815,2248,2205,2386,1956,1136,710,147,3,0.57

In [28]:
df2.pivot_table('인구소멸 위기지역','행정구역명',aggfunc='max').sort_values(by='인구소멸 위기지역',ascending=False).head(10)

                  인구소멸 위기지역
행정구역명
경기도 안산시 상록구 해양동        1.12
경기도 안양시 동안구 호계1동       1.07
경기도 성남시 수정구 복정동        1.06
경기도 안양시 동안구 부림동        0.97
경기도 안산시 단원구 중앙동        0.96
경기도 성남시 분당구 정자1동       0.91
경기도 성남시 수정구 고등동        0.90
경기도 성남시 수정구 신촌동        0.82
경기도 성남시 분당구 운중동        0.82
경기도 안양시 동안구 평안동        0.80