In [1]:
import numpy as np
import pandas as pd

In [2]:
filename = 'data/주민등록인구집계현황.csv'
df = pd.read_csv(filename, encoding='euc-kr',thousands=',')
df.head()

,연도,월,행정구역구분명,행정구역명,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,...,10~19세 (여),20~29세 (여),30~39세 (여),40~49세 (여),50~59세 (여),60~69세 (여),70~79세 (여),80~89세 (여),90~99세 (여),100세 이상 (여)
0,2022,12,도,경기도,13589432,1040954,1327726,1737291,1882300,2284603,...,647283,821150,904073,1121889,1133428,878494,437251,252711,44184,1369
1,2022,12,시군,경기도 가평군,62197,2930,4463,5929,5397,7589,...,2186,2503,2433,3525,5090,6439,3653,2408,411,13
2,2022,12,읍면동,경기도 가평군 가평읍,19555,1020,1673,2094,1795,2630,...,778,937,848,1244,1583,1805,1054,739,126,6
3,2022,12,읍면동,경기도 가평군 북면,3815,108,174,230,223,357,...,93,87,99,154,290,511,294,216,39,1
4,2022,12,읍면동,경기도 가평군 상면,5669,140,259,482,389,533,...,112,151,166,240,515,737,389,244,39,0

In [3]:
df.isna().sum().sum()

0

In [4]:
df.tail()

,연도,월,행정구역구분명,행정구역명,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,...,10~19세 (여),20~29세 (여),30~39세 (여),40~49세 (여),50~59세 (여),60~69세 (여),70~79세 (여),80~89세 (여),90~99세 (여),100세 이상 (여)
615,2022,12,읍면동,경기도 화성시 팔탄면,10056,273,438,964,984,1395,...,216,296,311,448,770,897,427,359,67,1
616,2022,12,읍면동,경기도 화성시 향남읍,87298,9328,10734,10096,14284,18254,...,5230,4462,6288,8064,5293,3629,1735,1026,173,0
617,2022,12,읍면동,경기도 화성시 화산동,23784,1472,2154,3275,2963,3949,...,1012,1408,1285,1768,2072,1676,788,398,73,0
618,2022,12,읍면동,경기도 화성시동부출장소,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
619,2022,12,읍면동,경기도 화성시동탄출장소,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df['가임기 여성인구수'] = df.iloc[:,31:33].sum(axis=1)
df.head()

,연도,월,행정구역구분명,행정구역명,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,...,20~29세 (여),30~39세 (여),40~49세 (여),50~59세 (여),60~69세 (여),70~79세 (여),80~89세 (여),90~99세 (여),100세 이상 (여),가임기 여성인구수
0,2022,12,도,경기도,13589432,1040954,1327726,1737291,1882300,2284603,...,821150,904073,1121889,1133428,878494,437251,252711,44184,1369,1725223
1,2022,12,시군,경기도 가평군,62197,2930,4463,5929,5397,7589,...,2503,2433,3525,5090,6439,3653,2408,411,13,4936
2,2022,12,읍면동,경기도 가평군 가평읍,19555,1020,1673,2094,1795,2630,...,937,848,1244,1583,1805,1054,739,126,6,1785
3,2022,12,읍면동,경기도 가평군 북면,3815,108,174,230,223,357,...,87,99,154,290,511,294,216,39,1,186
4,2022,12,읍면동,경기도 가평군 상면,5669,140,259,482,389,533,...,151,166,240,515,737,389,244,39,0,317

In [6]:
df.iloc[:,11:16].head()

    60~69세  70~79세  80~89세  90~99세  100세 이상
0  1750962  808663  403721   58065     1725
1    13315    7082    3999     564       19
2     3614    1963    1206     163        7
3     1072     578     353      54        1
4     1537     788     410      57        0

In [7]:
df['60세 이상 노령인구'] = df.iloc[:,11:16].sum(axis=1)
df.head()

,연도,월,행정구역구분명,행정구역명,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,...,30~39세 (여),40~49세 (여),50~59세 (여),60~69세 (여),70~79세 (여),80~89세 (여),90~99세 (여),100세 이상 (여),가임기 여성인구수,60세 이상 노령인구
0,2022,12,도,경기도,13589432,1040954,1327726,1737291,1882300,2284603,...,904073,1121889,1133428,878494,437251,252711,44184,1369,1725223,3023136
1,2022,12,시군,경기도 가평군,62197,2930,4463,5929,5397,7589,...,2433,3525,5090,6439,3653,2408,411,13,4936,24979
2,2022,12,읍면동,경기도 가평군 가평읍,19555,1020,1673,2094,1795,2630,...,848,1244,1583,1805,1054,739,126,6,1785,6953
3,2022,12,읍면동,경기도 가평군 북면,3815,108,174,230,223,357,...,99,154,290,511,294,216,39,1,186,2058
4,2022,12,읍면동,경기도 가평군 상면,5669,140,259,482,389,533,...,166,240,515,737,389,244,39,0,317,2792

In [8]:
df['인구소멸 위기지역'] =  (df['가임기 여성인구수']/df['60세 이상 노령인구'])
df.tail()

,연도,월,행정구역구분명,행정구역명,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,...,40~49세 (여),50~59세 (여),60~69세 (여),70~79세 (여),80~89세 (여),90~99세 (여),100세 이상 (여),가임기 여성인구수,60세 이상 노령인구,인구소멸 위기지역
615,2022,12,읍면동,경기도 화성시 팔탄면,10056,273,438,964,984,1395,...,448,770,897,427,359,67,1,607,3725,0.162953
616,2022,12,읍면동,경기도 화성시 향남읍,87298,9328,10734,10096,14284,18254,...,8064,5293,3629,1735,1026,173,0,10750,12478,0.861516
617,2022,12,읍면동,경기도 화성시 화산동,23784,1472,2154,3275,2963,3949,...,1768,2072,1676,788,398,73,0,2693,5673,0.474705
618,2022,12,읍면동,경기도 화성시동부출장소,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
619,2022,12,읍면동,경기도 화성시동탄출장소,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [9]:
df.dropna(subset=['인구소멸 위기지역'],inplace=True)
df.tail()

,연도,월,행정구역구분명,행정구역명,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,...,40~49세 (여),50~59세 (여),60~69세 (여),70~79세 (여),80~89세 (여),90~99세 (여),100세 이상 (여),가임기 여성인구수,60세 이상 노령인구,인구소멸 위기지역
613,2022,12,읍면동,경기도 화성시 정남면,11293,344,659,1279,1137,1470,...,517,921,949,513,390,86,4,865,4016,0.215388
614,2022,12,읍면동,경기도 화성시 진안동,43828,3744,3859,7141,8338,7934,...,3441,2918,1998,927,438,77,2,6319,6481,0.975004
615,2022,12,읍면동,경기도 화성시 팔탄면,10056,273,438,964,984,1395,...,448,770,897,427,359,67,1,607,3725,0.162953
616,2022,12,읍면동,경기도 화성시 향남읍,87298,9328,10734,10096,14284,18254,...,8064,5293,3629,1735,1026,173,0,10750,12478,0.861516
617,2022,12,읍면동,경기도 화성시 화산동,23784,1472,2154,3275,2963,3949,...,1768,2072,1676,788,398,73,0,2693,5673,0.474705

In [11]:
# 20_39 여성수 / 60세 이상 노인 인구
cols = '행정구역구분명,행정구역명,총 인구수,인구소멸 위기지역'.split(',')
df = df[cols]
df

    행정구역구분명        행정구역명     총 인구수  인구소멸 위기지역
0         도        경기도    13589432   0.570673
1        시군     경기도 가평군      62197   0.197606
2       읍면동  경기도 가평군 가평읍     19555   0.256724
3       읍면동   경기도 가평군 북면      3815   0.090379
4       읍면동   경기도 가평군 상면      5669   0.113539
..      ...          ...       ...        ...
613     읍면동  경기도 화성시 정남면     11293   0.215388
614     읍면동  경기도 화성시 진안동     43828   0.975004
615     읍면동  경기도 화성시 팔탄면     10056   0.162953
616     읍면동  경기도 화성시 향남읍     87298   0.861516
617     읍면동  경기도 화성시 화산동     23784   0.474705

[615 rows x 4 columns]