In [173]:
import json, folium, re
import pandas as pd
import numpy as np

In [174]:
df1 = pd.read_csv('data/전국도시공원정보표준데이터.csv',encoding='euc-kr')
df1 = df1['공원명,소재지도로명주소,소재지지번주소,공원면적,제공기관명'.split(',')]
df1.columns = ['공원명','도로명주소','주소','면적','제공기관명']
df1.head(30).tail(10)

,공원명,도로명주소,주소,면적,제공기관명
20,솔뜰 근린공원(근1-5),세종특별자치시 마음안로 93,NaN,14868.0,세종특별자치시
21,참뜰 근린공원(근1-6),세종특별자치시 만남로 45,NaN,18394.0,세종특별자치시
22,오가낭뜰 근린공원(근1-7),세종특별자치시 달빛1로 265,NaN,617013.0,세종특별자치시
23,강변공원,NaN,서울특별시 용산구 이촌동 408,1766.0,서울특별시 용산구
24,솔밭어린이공원,NaN,서울특별시 용산구 한강로1가 30-3,2090.0,서울특별시 용산구
25,신창동어린이공원,NaN,서울특별시 용산구 신창동 100,257.0,서울특별시 용산구
26,서빙고공원,NaN,서울특별시 용산구 용산동5가 24-2,11879.0,서울특별시 용산구
27,기와터공원,NaN,서울특별시 용산구 한강로3가 63-388,2225.0,서울특별시 용산구
28,문배어린이공원,NaN,서울특별시 용산구 문배동 24-1,842.0,서울특별시 용산구
29,서계가로어린이공원,NaN,서울특별시 용산구 서계동 276-7,183.0,서울특별시 용산구

In [175]:
df1.제공기관명.isna().sum()

0

In [176]:
df1 =df1[df1.제공기관명.str.contains('경기도')]
df1.head(50).tail(10)

            공원명                  도로명주소                   주소       면적     제공기관명
365  별내택지어린이공원3  경기도 남양주시 별내동 별내3로 285                  NaN   2743.0  경기도 남양주시
366  별내택지어린이공원4                    NaN    경기도 남양주시 별내동 1130   3040.0  경기도 남양주시
367  별내택지어린이공원7                    NaN  경기도 남양주시 별내동 1038-3   4290.0  경기도 남양주시
368  별내택지어린이공원1                    NaN    경기도 남양주시 별내동 1162   4299.0  경기도 남양주시
369  별내택지어린이공원5                    NaN     경기도 남양주시 별내동 904   6981.0  경기도 남양주시
370  별내택지 근린공원1                    NaN     경기도 남양주시 별내동 818  28459.0  경기도 남양주시
371  별내택지 근린공원2                    NaN   경기도 남양주시 별내동 956-5  29162.0  경기도 남양주시
372  별내택지 근린공원3      경기도 남양주시 순화궁로 313     경기도 남양주시 별내동 939  31560.0  경기도 남양주시
373  별내택지 근린공원7                    NaN     경기도 남양주시 별내동 988  54318.0  경기도 남양주시
374  별내택지 근린공원4                    NaN     경기도 남양주시 별내동 918  65676.0  경기도 남양주시

In [177]:
df_test = df1[['공원명','면적','도로명주소','주소']]
df_test.head()

       공원명      면적                 도로명주소                  주소
212  꿈나무공원  2526.0   경기도 이천시 설봉로 30번길 22      경기도 이천시 중리동 15
213   남천공원  3830.0  경기도 이천시 어재연로 10번길 25     경기도 이천시 중리동 210
214   향교공원  1757.0   경기도 이천시 설봉로 81번길 34     경기도 이천시 창전동 408
215  개나리공원  1650.0                   NaN  경기도 이천시 창전동 414-13
216  달맞이공원  1650.0   경기도 이천시 향교로 53번길 23     경기도 이천시 창전동 423

In [178]:
df_test.주소 = df_test.주소.fillna(df_test.도로명주소)
df_test.head(50).tail(10)

C:\Users\jukh3\AppData\Local\Temp\ipykernel_10528\3817179149.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test.주소 = df_test.주소.fillna(df_test.도로명주소)

            공원명       면적                  도로명주소                     주소
365  별내택지어린이공원3   2743.0  경기도 남양주시 별내동 별내3로 285  경기도 남양주시 별내동 별내3로 285
366  별내택지어린이공원4   3040.0                    NaN      경기도 남양주시 별내동 1130
367  별내택지어린이공원7   4290.0                    NaN    경기도 남양주시 별내동 1038-3
368  별내택지어린이공원1   4299.0                    NaN      경기도 남양주시 별내동 1162
369  별내택지어린이공원5   6981.0                    NaN       경기도 남양주시 별내동 904
370  별내택지 근린공원1  28459.0                    NaN       경기도 남양주시 별내동 818
371  별내택지 근린공원2  29162.0                    NaN     경기도 남양주시 별내동 956-5
372  별내택지 근린공원3  31560.0      경기도 남양주시 순화궁로 313       경기도 남양주시 별내동 939
373  별내택지 근린공원7  54318.0                    NaN       경기도 남양주시 별내동 988
374  별내택지 근린공원4  65676.0                    NaN       경기도 남양주시 별내동 918

In [179]:
df_test.isna().sum()

공원명         0
면적          0
도로명주소    3471
주소          0
dtype: int64

In [180]:
df_test['구별'] = df_test.주소.apply(lambda x: x.split()[1:3])
df_test['구별'] = df_test.구별.apply(lambda x: ' '.join(x))
df_test.head()

       공원명      면적                 도로명주소                  주소       구별
212  꿈나무공원  2526.0   경기도 이천시 설봉로 30번길 22      경기도 이천시 중리동 15  이천시 중리동
213   남천공원  3830.0  경기도 이천시 어재연로 10번길 25     경기도 이천시 중리동 210  이천시 중리동
214   향교공원  1757.0   경기도 이천시 설봉로 81번길 34     경기도 이천시 창전동 408  이천시 창전동
215  개나리공원  1650.0                   NaN  경기도 이천시 창전동 414-13  이천시 창전동
216  달맞이공원  1650.0   경기도 이천시 향교로 53번길 23     경기도 이천시 창전동 423  이천시 창전동

In [181]:
df_test_1 = df_test.groupby('구별')['면적'].sum().reset_index()
df_test_1.head()

        구별        면적
0  가평군 가평읍  143993.5
1   가평군 북면   43113.0
2   가평군 상면   25421.0
3  가평군 설악면   54409.0
4  가평군 조종면    1540.0

In [182]:
df_test_2 = df_test_1[df_test_1.구별.str.contains('수원시|고양시|용인시|성남시|안산시|안양시')]
df_test_2.head()

           구별         면적
6     고양시 덕양구  3287291.4
7    고양시 일산동구  2722980.0
8    고양시 일산서구   922486.9
125   성남시 분당구  7189216.9
126   성남시 수정구  2018770.5

In [183]:
test_col = ~df_test_1.구별.str.contains('수원시|고양시|용인시|성남시|안산시|안양시')
df_test_3 = df_test_1[test_col]
df_test_3

          구별        면적
0    가평군 가평읍  143993.5
1     가평군 북면   43113.0
2     가평군 상면   25421.0
3    가평군 설악면   54409.0
4    가평군 조종면    1540.0
..       ...       ...
384  화성시 진안동   98141.0
385  화성시 청계동  366825.5
386  화성시 팔탄면    6432.0
387  화성시 향남읍  898824.0
388  화성시 황계동     540.0

[372 rows x 2 columns]

In [184]:
df_test_3.구별 = df_test_3.구별.apply(lambda x: x.split()[0])
df_test_3.head()

C:\Users\jukh3\AppData\Local\Temp\ipykernel_10528\1033567028.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test_3.구별 = df_test_3.구별.apply(lambda x: x.split()[0])

    구별        면적
0  가평군  143993.5
1  가평군   43113.0
2  가평군   25421.0
3  가평군   54409.0
4  가평군    1540.0

In [185]:
df_test_1.head(130).tail(10)

          구별         면적
120  부천시 원미동   243218.9
121  부천시 원종동   137388.7
122   부천시 작동    18959.8
123   부천시 중동   357609.4
124  부천시 춘의동   177526.4
125  성남시 분당구  7189216.9
126  성남시 수정구  2018770.5
127  성남시 중원구  1879880.7
128  수원시 권선구  1417729.9
129  수원시 영통구  4119807.0

In [186]:
df1.to_csv('data/경기공원.csv',index=False)
pd.read_csv('data/경기공원.csv').tail()

,공원명,도로명주소,주소,면적,제공기관명
4431,제90호 어린이공원(풀향기),NaN,경기도 용인시 기흥구 중동 1083,1500.0,경기도 용인시
4432,청석공원,경기도 광주시,경기도 광주시 경안동 242,193530.0,경기도 광주시
4433,경안근린공원,"경기도 광주시 경안로98번길 30, (경안동)",경기도 광주시 경안동 168-1,83095.0,경기도 광주시
4434,삼리어린이공원,NaN,경기도 광주시 곤지암읍 삼리 131-1,1493.0,경기도 광주시
4435,중대물빛공원,NaN,경기도 광주시 중대동 246-2,230932.0,경기도 광주시

In [187]:
# 행정동명 인구수 파일에서 경기도 시군구 별 인구수 더해서 df 하나 만듬
# 공원csv 파일에서 제공기관명으로 쪼개서 경기도 공원 찾음
# 이렇게 저렇게 해서 합쳐서 끝

In [188]:
df2 = pd.read_csv('data/주민등록인구집계현황.csv',encoding='euc-kr')
df2 = df2['행정구역구분명,행정구역명,총 인구수'.split(',')]
df2 = df2.rename(columns={'총 인구수':'인구수'})
df2.head()

  행정구역구분명        행정구역명       인구수
0       도        경기도    13589432
1      시군     경기도 가평군      62197
2     읍면동  경기도 가평군 가평읍     19555
3     읍면동   경기도 가평군 북면      3815
4     읍면동   경기도 가평군 상면      5669

In [189]:
df2 =df2[df2.행정구역구분명.str.contains('시군|구')]
df2.head()

   행정구역구분명          행정구역명      인구수
1       시군       경기도 가평군     62197
8       시군       경기도 고양시   1075202
9        구   경기도 고양시 덕양구    487874
31       구  경기도 고양시 일산동구    296590
44       구  경기도 고양시 일산서구    290738

In [190]:
gu_city = ['수원시', '고양시', '용인시', '성남시', '안산시', '안양시']
df2.행정구역명 = df2.행정구역명.str.strip()
drop_index = []
for index in df2[df2.행정구역구분명 == '시군'].index:
    if df2.행정구역명[index].split()[-1] in gu_city:
        drop_index.append(index)
df2.drop(drop_index, inplace=True)
df2.head()

   행정구역구분명         행정구역명     인구수
1       시군       경기도 가평군   62197
9        구   경기도 고양시 덕양구  487874
31       구  경기도 고양시 일산동구  296590
44       구  경기도 고양시 일산서구  290738
56      시군       경기도 과천시   77775

In [191]:
df2.drop([96],inplace=True)

In [192]:
df2.to_csv('data/경기인구수.csv',index=False)
pd.read_csv('data/경기인구수.csv').head(10)

  행정구역구분명         행정구역명     인구수
0      시군       경기도 가평군   62197
1       구   경기도 고양시 덕양구  487874
2       구  경기도 고양시 일산동구  296590
3       구  경기도 고양시 일산서구  290738
4      시군       경기도 과천시   77775
5      시군       경기도 광명시  288182
6      시군       경기도 광주시  391704
7      시군       경기도 구리시  188876
8      시군       경기도 군포시  266531
9      시군       경기도 김포시  484194